<script defer type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script>
	if (window.location.href.includes('?success')) {
		document.getElementById('success').classList.add('show');
		document.getElementById('send-button').classList.add('hide');
	}

</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {

		// Get all "navbar-burger" elements
		var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		// Check if there are any navbar burgers
		if ($navbarBurgers.length > 0) {

			// Add a click event on each of them
			$navbarBurgers.forEach(function ($el) {
				$el.addEventListener('click', function () {

					// Get the target from the "data-target" attribute
					var target = $el.dataset.target;
					var $target = document.getElementById(target);

					// Toggle the class on both the "navbar-burger" and the "navbar-menu"
					$el.classList.toggle('is-active');
					$target.classList.toggle('is-active');

				});
			});
		}

		const observer = lozad(); // lazy loads elements with default selector as '.lozad'
		observer.observe();

	});
</script>

<script>
	function mySubmit() {
		var form = document.forms.contactForm;
		console.log(form);
		form.action = '//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}'.replace(/x/g, '');
		form.method = 'post';
		console.log(form);
		form.submit();
	}
</script>

{{ template "_internal/google_analytics_async.html" . }}
