<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/#page-top">
				{{ with .Site.Params.navigation.brand }}
				<img src="/img/DigitalCometLogo-Comet.png" class="image is-24x24" alt="{{ . }} logo">
				{{ . }}
				{{ end }}
			</a>

			<div class="navbar-burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
				<a class="navbar-item"
					href="/#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a>
				<a class="navbar-item"
					href="/#portfolio">{{ with .Site.Params.portfolio.title }}{{ . }}{{ end }}</a>
				<a class="navbar-item"
					href="/#services">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</a>
				<a class="navbar-item"
					href="/#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
				<a class="navbar-item" href="/blog">blog</a>
			</div>
		</div>
	</div>
</nav>
