<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ .Site.BaseURL }}#page-top">
				{{ with .Site.Params.navigation.brand }}
				<img src="/img/DigitalCometLogo-Comet.png" alt="{{ . }} logo">
				{{ . }}
				{{ end }}
			</a>

			<div class="navbar-burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
				<a class="navbar-item"
					href="{{ .Site.BaseURL }}#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a>
				<a class="navbar-item"
					href="{{ .Site.BaseURL }}#portfolio">{{ with .Site.Params.portfolio.title }}{{ . }}{{ end }}</a>
				<a class="navbar-item"
					href="{{ .Site.BaseURL }}#services">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</a>
				<a class="navbar-item"
					href="{{ .Site.BaseURL }}#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
			</div>
		</div>
	</div>
</nav>
