<section id="services">
	<div class="container">
		<h2>{{ with .Site.Params.services.title }}{{.}}{{end}}</h2>
		<div class="star">
			<hr><i class="fas fa-star"></i></div>
		<div class="columns is-multiline">
			{{ range where .Site.RegularPages.ByWeight.Reverse "Section" "services" }}
			<div class="column is-half">
				<h3><a href="{{ .RelPermalink }}" class="services-link">{{ .Title }}</a></h3>
				{{ .Summary }}
				<a href="{{ .RelPermalink }}" class="services-link read-more">{{ .Site.Params.services.readmore }}
					&rarr;</a>
			</div>
			{{ end }}
		</div>
	</div>
</section>
